@model UpdateCategoryDto

@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Yeni Yazar Girişi</h4>
                        <p class="card-subtitle mb-4">
                            Blogların categoryleri ile ilgili ekleme işleminin gerçekleşeceği sayfadır. kategori girişi yaparken bilgileri eksiksiz girmeye özen gösterelim.
                        </p>

                        <form method="post">
                            <input type="hidden" asp-for="CategoryId" />
                            <div class="form-group">
                                <label for="exampleInputName">Name</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Yazar adını giriniz">
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kategoriyi Kaydet</button>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
