@model CreateTestimonialDto
@{
    ViewData["Title"] = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Yeni Referans sayfasi veri girişi</h4>
                        <p class="card-subtitle mb-4">
                            Referans ekleme işleminin yapıldığı sayfadır. Bilgileri eksiksiz olarak doldurunuz.
                        </p>

                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputName">Referans Ad Soyad</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Hizmet başlığını giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputTitle">Referans Unvanı</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title" placeholder="Social medya linkini giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputComment">Referans Görsel</label>
                                <input type="text" class="form-control" id="exampleInputComment" asp-for="Comment" placeholder="Social Media icon bilgisini giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputIconUrl">Referans Yorumu</label>
                                <textarea rows="5" asp-for="Comment" class="form-control" placeholder="Yorumunuzu buraya giriniz"></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Referans bilgisini kaydet</button>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

